.root-container {
  // 移除 height: 100%
  display: flex;
  flex-direction: column;

  .main {
    flex: 1 1 0%; // 修改 flex 属性
    overflow: auto; // 添加滚动控制
    // 移除 width: 100%

    .container {
      min-height: 100%; // 保证内容区域最小高度
    }
  }
}
